body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 600px;
  padding: 50px 70px;
  border: 1px solid #f31010;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ee0d0d;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cc0000;
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
}

.signup-form-label {
  display: flex;
  justify-content: center;
}
