<ngb-carousel *ngIf="products">
  <ng-template ngbSlide *ngFor=" let product of products">
    <div class="picsum-img-wrapper">
      <img [src]="env.apiBaseUrl + '/img/slider/' + product.banner" [alt]="product.title" style="height: 600px; width: 100%; object-fit: cover;" />
    </div>
    <div class="carousel-caption">
      <div class="p-3 d-flex flex-column align-items-center justify-content-center h-100">
        <h4 class="text-light text-uppercase font-weight-medium mb-3"><del>{{product.price | currency : 'USD':true}}</del> - <strong style="color:#cc0000">{{product.salePrice | currency : 'USD':true}}</strong></h4>
        <h3 class="display-4 text-white font-weight-semi-bold mb-4"><strong>{{product.title}}</strong></h3>
        <a [routerLink]="'/product-details/' + product.id" class="btn btn-light py-2 px-3">Shop Now</a>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
