<section class="cart_area section_padding" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="cart-product" src="assets/images/iphone14.jpeg" alt="">
                  <p class="py-5">Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td class="py-5">
              <h5>$360.00</h5>
            </td>
            <td class="py-5">
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td class="py-5">
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="cart-product" src="assets/images/iphone14.jpeg" alt="">
                  <p class="py-5">Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td class="py-5">
              <h5>$360.00</h5>
            </td>
            <td class="py-5">
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td class="py-5">
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="cart-product" src="assets/images/iphone14.jpeg" alt="">
                  <p class="py-5">Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td class="py-5">
              <h5>$360.00</h5>
            </td>
            <td class="py-5">
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td class="py-5">
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="cart-product" src="assets/images/iphone14.jpeg" alt="">
                  <p class="py-5">Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td class="py-5">
              <h5>$360.00</h5>
            </td>
            <td class="py-5">
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td class="py-5">
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="cart-product" src="assets/images/iphone14.jpeg" alt="">
                  <p class="py-5">Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td class="py-5">
              <h5>$360.00</h5>
            </td>
            <td class="py-5">
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td class="py-5">
              <h5>$720.00</h5>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <h5>Subtotal</h5>
            </td>
            <td>
              <h5>$2160.00</h5>
            </td>
          </tr>

          </tbody>
        </table>
        <div class="">
          <button routerLink="products">Continue Shopping</button>
          <button routerLink="payment">Checkout  <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      </div>
    </div>
  </div></section>
